<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Document</title>
</head>
<body>
<table>
  <tr>
    <th>NOME</th>
    <th>CPF</th>
    <th>TELEFONE</th>
    <th>RUA</th>
    <th>NUMERO</th>
    <th>BAIRRO</th>
    <th>CIDADE</th>
    <th>ESTADO</th>
    <th>COMPLEMENTO</th>
    <th>CEP</th>
  </tr>
    {{#pacientes}}
    <tr>
    <td>{{nome}}</td>
    <td>{{cpf}}</td>
    <td>{{telefone}}</td>
    <td>{{rua}}</td>
    <td>{{numero}}</td>
    <td>{{bairro}}</td>
    <td>{{cidade}}</td>
    <td>{{estado}}</td>
    <td>{{complemento}}</td>
    <td>{{cep}}</td>
  </tr>

  {{/pacientes}}
  

</table>
    <script src="/js/jquery.mask.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>